.first-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    
}

.redirect-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
    text-align: center
}