.post-comment-text {
    /* margin-top: 10px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
}

.create-comment-errors {
color:red;
font-family: Verdana, Geneva, Tahoma, sans-serif
}

.create-comment-area {
    box-sizing: border-box;
    padding: 8px 16px;    
    height: 300px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
    border: 1px solid lightgray;
    line-height: normal;
    margin-bottom: 0.4em;
}

.create-comment-button-modal {
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(255, 0, 0);opacity:0.7 ;
    color: black;
    width: 50%;
    -webkit-font-smoothing: antialiased;
    border: none;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.cancel-create-comment-button-modal {
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(0,0, 255); opacity:0.4;
    color: white;
    width: 50%;
    -webkit-font-smoothing: antialiased;
    border: none;
}