* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

h1 {
    color: orange;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    text-align: center;
}
.main-page-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;    
}

.pin_images_detail {    
    width: 258px;   
    overflow: hidden;
    padding: 8px 8px 8px 8px;
    display: block;
   
}

.pin-stuff-container {
    margin: 0 20px;
}

.pin_images {
    width: 258px;
    height: auto;    
    border-radius: 5px;
   
}

.pin_images:hover {
    cursor: pointer;
    filter:brightness(60%);
}

.pin_title {
    font-size: 16px;
    text-align: center;
    margin: 2px 20px;
    -webkit-box-orient: vertical;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
