h1 {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.main-page-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    
}

.main_page_detai {
    
    width: 256px;
    overflow: hidden;
    padding: 8px 8px 8px 8px;
    display: block;
}

.pin-stuff-container {
    margin: 0.7rem;
}

.pin_images {
    width: 300px;
    height: auto;
}

.pin_images:hover {
    cursor: pointer;
    filter:brightness(60%);
}

.pin_title {
    font-size: 16px;
    text-align: left;
    -webkit-box-orient: vertical;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
