* {
    font-family:sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    /* display: flex; */
}

nav {
    display: flex;
}

a {
    color:red;
    text-decoration: none;
}

.logout-button {
    background-color: red;
    color: white;
    border-style: none;
    padding: 5px 10px
}

.home-login {
    width: 75px;
  height: 40px;
  background-color: #E60022;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  /* margin-right: 200px; */
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: white;
  
}

.home-signup {
    width: 75px;
    height: 40px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  

}