* {
    font-family:sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    /* display: flex; */
}

/* nav {
    display: flex;
} */

a {
    color:red;
    text-decoration: none;
}

.logout-button {
    background-color: red;
    color: white;
    border-style: none;
    padding: 5px 10px
}

.home-login {
    width: 75px;
  height: 40px;
  background-color: #E60022;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  /* margin-right: 200px; */
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: white;
  
}

.home-signup {
    width: 75px;
    height: 40px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  

}

.active {
    color: black;
    font-size: 20px;
    
}

.profile-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

#navigation-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 70px;   
    margin-left: 10px;
    margin-right: 20px;
}

.log-in-button {
    width: 88px;
  height: 40px;
  background-color: #E60022;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 2px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  border: none;
}

.sign-up-button {
    width: 88px;
  height: 40px;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 700;
  border: none;
}