#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:1000
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;
}

#edit-pin-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;

}

#edit-pin-modal-background {
  position: fixed;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#edit-pin-modal-content {
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 500px;
  height: 500px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 20px 10px 24px;
  text-align: center;
}

#delete-pin-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
}

#delete-pin-modal-background {
  position: fixed;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#delete-pin-modal-content {
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 400px;
  height: 180px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 20px 10px 24px;
  text-align: center;
}

#create-comment-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
}

#create-comment-background {
  position: fixed;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#create-comment-content {
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 480px;
  height: 520px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 20px 10px 24px;
  text-align: center;
}

#edit-comment-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
}

#edit-comment-background {
  position: fixed;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#edit-comment-content {
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 480px;
  height: 500px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 20px 10px 24px;
  text-align: center;
}

#delete-comment-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
}

#delete-comment-background {
  position: fixed;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#delete-comment-content {
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 400px;
  height: 180px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 20px 10px 24px;
  text-align: center;
}

#log-in-modal{
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
}

#log-in-modal-background {
  position: fixed;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#log-in-modal-content {
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 800px;
  height: 800px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 20px 10px 24px;
  text-align: center;
}


#sign-up-modal {
  position: fixed;
  top: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 400px;
}

#sign-up-modal-background {
  position: fixed;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#sign-up-modal-content {
  position: relative;
  background-color:white;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 800px;
  height: 800px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 20px 10px 24px;
  text-align: center;
}